// color
$blue: #45669A;
$blue-lite: #E8F1F9;
// $red: #B04744;
$pink: #FBF3F3;
$purple: #572B6C;
$grey: #414750;


// new colors
$light-blue: #057CE6;
$dark-blue: #024685;
$pink: #FC737A;
$lilac: #C6C0F2;
$violet: #676B9F;
$forget-me-not: #FFF0F1;
$red: #BA2545;
$dark-purple: #303266;
$darkpurple: #2D3162;
$gun-powder: #43445B;


$base-font-size: 1em;
$h1: 2.25em;
$h2: 1.5em;
$h3: 1em;
$h4: .75em;
$p: 1em;

$heading: 'adelle-sans';
$body: 'adelle';

@mixin type($ff, $fz, $lh, $fw) {
    font-family: $ff;
    font-size: $fz;
    line-height: $lh;
    font-weight: $fw;
}

html,
body {
  height: 100%;
}


body {
//   font-family: $heading;
  -webkit-font-smoothing: antialiased;
//   font-size: $base-font-size;s
//   line-height: 1.5em;
}


h1, h2, h3, h4{
    margin: 0;
    padding: 0;
    // color: $dark-blue;
    color: $gun-powder;
}

p {
    padding: 0;
    margin: 0;
    color: $grey;
    &.msg {
        font-family: $heading;
        color: white;
    }
}

h1 {
    @include type($heading, $h1, 1, bold);
}

h2 {
    @include type($heading, $h2, 1, bold);
}

h3 {
    @include type($heading, $h3, 1.5, bold);
}

h4 {
    @include type($heading, $h4, 1, bold);
}

p {
    @include type($body, $p, 1.5, normal);
}

a {
    @include type($heading, $p, 1, normal);
}




a {
  text-decoration: none;
  font-size: 14px;
//   color: $violet;
  cursor: pointer;
  &:hover {
    // text-decoration: underline;
  }
}

.md-18 {
    font-size: 18px;
}

.md-36 {
    font-size: 36px;
}

button {
    &:focus {
        outline: 0;
    }
}