$wide: 720px;
$medium: 375px;

#app, .wrapper {
    height:100%;
}

.wrapper {
    display: flex;
    width: 100%;
}

.main-left {
    @media (min-width: $wide) {
        width: 50%;
    }

    display: flex;
    flex-direction: column;
    height: 100%;

   ::-webkit-scrollbar {
        display:none;
    }
}


.copy {
    @media (min-width: $medium){
        padding: 280px 24px 0;
    }
    @media (min-width: $wide) {
        padding: 72px;
        padding-top:100px;
    }
    box-sizing: border-box;
}

nav {
    flex: 0 0 auto;
    
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        li {
            padding: 0;
            a {
                padding: 0 12px;
            }
        }
    }
}

#projects {
    transition: 1s ease-in-out;
    flex: 1 1 auto;
    overflow:hidden;
    opacity: 0;
    &.hidden {
        opacity:1;
    }
}

.autoscroll {
    transition: 1s ease-in-out;
}

.image-wrapper {
    position: absolute;
    top:0;
    bottom:0;
    right:0;

    height: 100%;
    margin: 0 auto;
    max-width: 75em;
    overflow: hidden;

    @media (max-width: $wide) {
        top: -50px;
    }

    transition: 1s ease-in-out;

    .bubble {
        overflow: hidden;
        height:100%;
        transition: 1s ease-in-out;

        &.project1 {

            background: #2d3335;
        }
    }

    svg {
        position: absolute;
    }

}

.project-image {
    transition: 1s ease-in-out;
    opacity:0;
    &.active{
        opacity:1;
    }
    position:absolute;
}

.article-headline {
    img {
        position:relative;
        transition: 0.5s ease-in-out;
        opacity: 1;
    }

    &.article-one {
        img {
            width: 700px;
            padding-top:200px;
            @media (max-width: $wide) {
                padding-top: 100px;
                left:-100px;
                width:500px;
            }
        }
    }

    &.article-two {
        img {
            width: 550px;
            padding-top:120px;
            left:-50px;
            @media (max-width: $wide) {
                padding-top: 50px;
                left:0px;
                width:300px;
            }
        }
    }

}


#playing-cello {
    svg {

        @media (min-width: $wide) {
            height:1500px;
        }
        @media (max-width: $wide) {
            height:800px;
        }
    }
}

svg {
    transition: 1s ease-in-out;
}

.article {
    position:absolute;
    transition: 1s ease-in-out;
    width: 100%;
    &.normal {
        top: 20%;
        opacity:1;
    }
    &.below {
        top: 100%;
        opacity:0;
    }
}

.article-content {
    margin: 0 auto;
    max-width: 60em;
    h1 {
        text-align: center;
    }

    img {
        margin-left:100px;
    }

    &.article-one {
        h1 {
            color: #eee;
        }
    }

    &.article-two {
        h1 {
            color: #111;
        }
    }
}