$mobile: 720px;

#app, .wrapper {
    height:100%;
}

.wrapper {
    display: flex;
    width: 100%;
}

.main-left {
    @media (min-width: $mobile) {
        width: 50%;
    }

    display: flex;
    flex-direction: column;
    height: 100%;

   ::-webkit-scrollbar {
        display:none;
    }
}


.copy {
    @media (min-width: 375px){
        padding: 240px 24px 0;
    }
    @media (min-width: $mobile) {
        padding: 72px;
    }
    box-sizing: border-box;
}

nav {
    flex: 0 0 auto;
    
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        li {
            padding: 0;
            a {
                padding: 0 12px;
            }
        }
    }
}

#projects {
    transition: 1s ease-in-out;
    flex: 1 1 auto;
    overflow:hidden;
    opacity: 0;
    &.hidden {
        opacity:1;
    }
}

.autoscroll {
    transition: 1s ease-in-out;
}

.image-wrapper {
    position: absolute;
    top:0;
    bottom:0;
    right:0;

    height: 100%;
    margin: 0 auto;
    max-width: 75em;
    overflow: hidden;

    @media (max-width: $mobile) {
        top: -50px;
    }

    transition: 1s ease-in-out;

    .bubble {
        background: #222244;

        &.project1 {
            background: #222244;
        }
        &.project2 {
            background: #ffffff;
        }
        &.project3 {
            background: #224422;
        }
        overflow: hidden;
        height:100%;
    }


    svg {
        position: absolute;
    }

    img {
        position:relative;
        width: 700px;
        padding-top:200px;

        transition: 0.5s ease-in-out;
        opacity: 1;


        @media (max-width: $mobile) {
            padding-top: 100px;
            left:-100px;
            width:500px;
        }
        &.hidden {
            opacity:0;
        }
    }

}

svg {
    transition: 1s ease-in-out;
}

.article {
    position:absolute;
    transition: 1s ease-in-out;
    width: 100%;
    &.normal {
        top: 20%;
        opacity:1;
    }
    &.below {
        top: 100%;
        opacity:0;
    }
}

.article-content {
    margin: 0 auto;
    max-width: 60em;
    h1 {
        text-align: center;
        color: #eee;
    }

    img {
        margin-left:100px;
    }
}