.main {
//   flex: 1 1 auto;
 width: 100%;
  padding: 0 48px;
  display: flex;
  justify-content: center;
  overflow: scroll;
  @media (max-width: 814px) {
      
  }
}

.main-content {
    padding-top: 24px;
}

.main-email-wrapper {
    width: 524px;
    @media (max-width: 810px) {
        width: 90%;
    }
}

.email-meta {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 24px 0;
}

.main-email {
    padding: 24px 0;
}

.email-title {
    margin-bottom: 24px;
}

.email-body {
    padding: 24px 0;
}
.para-wrapper {
    margin-bottom: 24px;
}

.signature {
    p {
        // margin-bottom: 0;
    }
    font-style: italic;
}


